html{
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.firstSlide{
    background-image: url('images/image1.png');
    height: 800px;
    
}
.fp{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0;
    padding-top: 200px;
}
.sign2{
    text-align: center;
    font-size: 48px;
    color: white;
    font-family: 'Meddon', cursive;
}
.secondSlide{
    background-image: url('images/image3.png');
    height: 800px;  
}
h4{
    text-align: left;
    color: white;
    font-size: 24px;
    width: 50%;
    font-weight: 500;
    padding-left: 150px;
}
h2{
    padding: 0;
    margin: 0;
    text-align: left;
    color: white;
    font-size: 58px;
    padding-top: 200px;
    padding-left: 150px;
}
.thirdSlide{
    background-image: url('images/image2.png');
    height: 800px;  
}
.quote{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 32px;
  padding-right: 50px;
    padding-left: 800px;
    padding-top: 300px;
}
.sign{
 padding: 0;
 padding-left: 800px;
 color: white;
 font-size: 48px;
 font-family: 'Meddon', cursive;
}
.fourthSlide{
    color: white;
    text-align: center;
}
hr{
    margin-top: 100px;
    border-left: 2px solid rgb(255, 255, 255);
    margin-bottom: 50px;
}